@model ExecDashboard.Models.LineGraphModel

<div id="userChartWrapper">
    <br />
    <canvas id="canvasUsers" height="300"></canvas>
</div>

<script src="~/Scripts/ChartNew.js"></script>
<script>

    var userChartData = JSON.parse('@Html.Raw(Json.Encode(Model))');

    $(function () {
        buildGraph();
    });

    function buildGraph() {
        var _width = $('#activeUserGraphContainer').width();
        $('#canvasUsers').attr('width', _width);

        var ctx = document.getElementById("canvasUsers").getContext("2d");
	    var chart = new Chart(ctx).Line(userChartData, {
		    scaleOverride: true,
		    scaleSteps: 4,
            scaleStepWidth: parseInt('@ViewBag.Max') / 4,
	        scaleStartValue: 0,
	        pointDot: false,
	        showTooltips: false,
	        scaleXGridLinesStep: 0
	        //scaleShowGridLines:false
        });
    };
</script>

